:host {
    display: block;
    background: #000;
    color: #E8A317;
}

.message {
    display: block;
    padding: .5em;
    font-size: 2rem;
    font-family: 'Arvo', serif;
    font-weight: normal;
    line-height: 1;
}

.message:after {
    content: "!!!!";
}
